<% provide(:title, "Signup") %>
  <div class="container">
    <%= form_with(model: @user ) do |f| %>
      <%= render 'shared/error_messages' %>

      <div class="form-wrapper-interior">
        <ul>
          <li class="form-label">
            <%= f.label :name, "FullName" %>
          </li>
          <li>
            <%= f.text_field :name, class: "form", placeholder: "Full Name" %>
          </li>


          <li class="form-label">
            <%= f.label :username, "UserName" %>
          </li>
          <li>
            <%= f.text_field :username, class: "form", placeholder: "User Name" %>
          </li>


          <li class="form-label">
            <%= f.label :email, "Email" %>
          </li>
          <li>
            <%= f.email_field :email, class: "form", placeholder: "example@example.com" %>
          </li>
          <li class="form-label">
            <%= f.label :password %>
          </li>
          <li>
            <%= f.password_field :password, class: "form", placeholder: "password" %>
          </li>
          <li class="form-label">
            <%= f.label :password_confirmation %>
          </li>
          <li>
            <%= f.password_field :password_confirmation, class: "form", placeholder: "password" %>
          </li>
          <li >
            <%= f.submit "submit" , class: "submit"%>
          </li>
        </ul>
      </div>
    <% end %>
    <div class="TermsOfService">
      <%= link_to "利用規約", "#"%>
    </div>
  </div>
