<div class="header-color">
  <div class="container">
    <div class="header">
      <h1 class="photo" >
        <% if logged_in? %>
          <%= link_to "PhotoTime", users_path, class: "photo-title" %>
        <% else %>
          <%= link_to "PhotoTime", root_path, class: "photo-title" %>
        <% end %>
      </h1>
      <ul class="header-right">
        <% if logged_in? %>
          <li>
            <%= link_to "Profile", current_user, class: "header-link"%>
          </li>
          <li>
            <%= link_to "Post", new_post_path, class: "header-link"%>
          </li>
          <li>
            <%= button_to "Log out", logout_path, method: :delete , class: "header-link button"%>
          </li>
          <li>
            <%= link_to "Edit", edit_user_path(current_user) , class: "header-link"%>
          </li>
          
          
        <% else %>
        <li>
          <%= link_to "Sign up", signup_path,class: "header-link"%>
        </li>
        <li>
          <%= link_to "Log in", login_path,class: "header-link"%>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>