<%= render 'shared/jquery_without_login' %>
  <div class="container">
      <div class="top-link">
        
      
        <% if logged_in? %>
          <div class="find-user">
            <%= link_to "友達を探す", users_path %>
          </div>
          <% if @feed_items.any? %>
         
            <% @feed_items.each do |feed_item| %>
            <div class="feed-wrapper">
              <div class="row">
                <div class="col-md-10 feed-image">
                  <%= link_to image_tag(feed_item.user.image.url, class: "image-size-middle"), feed_item.user %>
                  <div class="feed-image-name">
                    <%= link_to feed_item.user.name, feed_item.user %>
                  </div>
                </div>
              </div>
              <div class="row feed-main">
                <div class="col-md-3 feed-photo">
                  <%= link_to image_tag(feed_item.photo.url), feed_item %>
                </div>
                  <div class="col-md-8 feed-content">
                    <%= feed_item.content %>
                  </div>
              </div>
            </div>
            <% end %>
          <% end %> 
        <% else %>
          <div class="top-button">
            <div class="top-text">
              Let's leave memories.
            </div>
            <%= link_to "いますぐ始める!", signup_path , class: "btn-gradation" %>
            <%= link_to "ログインする", login_path , class: "btn-gradation" %>
            


            </div>
          </div>
        <% end %>
      </div>
  </div>
