<% provide(:title, "New Post")%>
<div class="container">
  <%= form_with model: @post, multipart: true, local: true  do |f| %>
    <%= render 'shared/@post_error_messages' %>
    <div class="form-wrapper">
      <ul>
        <div class="form-label">photo</div>
        <li>
          <%= f.label :photo, "画像を選択する", class: "btn-primary image-label fas fa-file-upload" %>
        </li>
        <li class="file-selection">
          <%= f.file_field :photo %>
        </li>
        <li class="form-label">
          <%= f.label :content %>
        </li>
        <li>
          <%= f.text_area :content%>
        </li>
        <li>
          <%= f.submit "Submit", class: "submit"%>
        </li>

      </ul>
    </div>
  <% end %>
</div>